# Microsoft Clarity Analytics
# Your Project ID from clarity.microsoft.com
VITE_CLARITY_PROJECT_ID=xxxxxx

# Set to 'true' if you want Clarity to record sessions during local development (`npm run dev`)
VITE_CLARITY_DEV=false
